CalculatorService.Client/Connected Services/LoggingCalculatorServiceReference/CalculatorService.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CalculatorService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CalculatorService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CalculatorRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ValueA" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValueAName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValueB" type="xs:decimal" />
      <xs:element minOccurs="0" name="ValueBName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorRequest" nillable="true" type="tns:CalculatorRequest" />
  <xs:complexType name="CalculatorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="TextExpression" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CalculatorResponse" nillable="true" type="tns:CalculatorResponse" />
</xs:schema>